
.home {
    width: 100%;
    height: auto;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
  
  
  .wrapper {
    animation: scroll 100s linear infinite;
    background: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?auto=format&fit=crop&q=80&w=1587&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
      #111111;
    color: #ffffff;
    width: 100%;
    height: 150vh;
    align-items: center;
    font-family: "Arial", sans-serif;
    align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      font-weight: normal;
      text-align: center;
   
   
  }
  
  @keyframes scroll {
    100% {
      background-position: 0px -400%;
    }
  }
  
  /* Fallback if the operating system prefers reduced motion */
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 800s linear infinite;
    }
  }
 
